:root {
    --main-100: #dedfff;
    --main-200: #bdbfff;
    --main-300: #9d9eff;
    --main-400: #7c7eff;
    --main-500: #5b5eff;
    --main-600: #494bcc;
    --main-700: #373899;
    --main-800: #242666;
    --main-900: #121333;
    --main-trs: #5b5eff71;
    --borderWidth: 2px;
    --typo: 'Poppins', sans-serif;
    --transition-g: 0.3s;
    --transition-f: 0.15s;
    --transition-s: 0.6s;
    --max-w: 900px;
    --max-header: 110px;
    --min-header: 76px;
}
@media screen and (min-width: 600px) {
    :root {
        --ts1: 50px;
        --ts2: 24px;
        --ts3: 18px;
        --ts4: 16px;
        --ts5: 14px;
        --ts6: 12px;
    }
}
@media screen and (max-width: 600px) {
    :root {
        --ts1: 28px;
        --ts2: 24px;
        --ts3: 18px;
        --ts4: 16px;
        --ts5: 14px;
        --ts6: 12px;
    }
}