:root {
    --main-100: #dedfff;
    --main-200: #bdbfff;
    --main-300: #9d9eff;
    --main-400: #7c7eff;
    --main-500: #5b5eff;
    --main-600: #494bcc;
    --main-700: #373899;
    --main-800: #242666;
    --main-900: #121333;
    --main-trs: #5b5eff71;
    --borderWidth: 2px;
    --typo: 'Poppins', sans-serif;
    --ts1: 26px;
    --ts2: 20px;
    --ts3: 18px;
    --ts4: 16px;
    --ts5: 14px;
    --ts6: 12px;
    --transition-g: 0.3s;
    --transition-f: 0.15s;
    --transition-s: 0.6s;
    --max-w: 800px;
    --max-header: 100px;
    --min-header: 80px;
}