main {
    display: flex;
    flex-direction: column;
    margin-top: var(--max-header);
}
section {
    width: 100%;
    margin-block-start: calc(var(--ts1) * 2);
}
section h1 {
    background-color: var(--main-500);
    font-family: var(--typo);
    font-size: var(--ts2);
    color: white;
    width: 100%;
    position: relative;
}
@media screen and (min-width: 800px) {
    section h1 {
        max-width: 730px;
        padding: calc(var(--ts2) / 2) calc(var(--ts2) / 1);
    }
}
@media screen and (max-width: 800px) {
    section h1 {
        max-width: calc(100vw - 97px) !important;
        padding: calc(var(--ts6) / 2) calc(var(--ts2) / 1);
    }
}
section h1::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    background-color: var(--main-500);
    transform: translateX(100%);
    clip-path: polygon(100% 0%, 62% 49%, 100% 100%, 0% 100%, 0% 50%, 0% -1%);
}

/* CUSTOM */
.about .details {
    display: flex;
    gap: var(--ts2);
    margin-block-start: 34px;
}
@media screen and (max-width: 600px) {
    .about .details {
        flex-direction: column;
        align-items: stretch;
        padding: 8px;
    }
}
@media screen and (min-width: 600px) {
    .about .details {
        flex-direction: row;
    }
    .about .detail {
        max-width: 400px;
    }
}
.about .h3 {
    font-size: var(--ts3);
    margin-block-end: 16px;
    font-weight: bold;
}
.about .detail {
    font-family: var(--typo);
}
.about .text {
    font-size: var(--ts5);
    text-align: justify;
}
.about .picture {
    height: calc(var(--ts1) * 10);
    width: 100%;
    background-size: cover;
    margin-block-end: 16px;
}
.about .btn-c {
    display: flex;
    padding-top: var(--ts2);
    justify-content: flex-end;
}
.map .section {
    display: flex;
    gap: 24px;
}
@media screen and (max-width: 800px){
    .map .section {
        flex-direction: column;
    }
}
@media screen and (min-width: 800px){
    .map .section {
        flex-direction: row;
    }
    .map .section .map-container {
        width: 40%;
        overflow: visible;
    }
    .map .section .map-container svg {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transform: rotate3d(2, 2, 1, 320deg);
        filter: drop-shadow(-8px 7px 5px #00000097);
    }
    .map .section .info-map {
        width: 60%;
    }
}
.map #map_peru *.on {
    fill: red;
}
.map #peru-cities {
    margin: 0;
    padding: 0;
    columns: 100px auto;
    column-gap: 8px;
    list-style: none;
}
.map #peru-cities li {
    padding: 2px 4px;
    display: inline-block;
    width: 100%;
}
.map #peru-cities li.on {
    background: red;
    color: white;
    font-weight: bold;
}
.best .section {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-block-start: 36px;
}
.best .section .card {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    background: var(--main-100);
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: var(--borderWidth);
    box-shadow: 0px 3px 6px 0px rgb(0, 0, 0, 0.26);
    max-width: 180px;
}
.best .card i {
    margin-block-start: 12px;
    font-size: calc(var(--ts3) * 3);
    color: var(--main-500);
    margin-block-end: 12px;
}
.best .card p {
    font-family: var(--typo);
    font-size: var(--ts5);
}


.brands_g {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.brand {
    width: 120px;
    height: 120px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 17%);
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    position: relative;
}
.brands .brand img {
    height: calc(100% - 30%);
    width: calc(100% - 30%);
    object-fit: contain;
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
    pointer-events: none;
}
.clients .fullw {
    background: var(--main-200);
    padding-bottom: 36px;
}
.clients h1::before {
    content: '';
    visibility: hidden;
}
.clients h1 {
    color: var(--main-500);
}
.clients .access {
    display: flex;
    padding: 12px;
}
.clients .access .embed {
    background: white;
    width: 100%;
    flex: 1;
    padding: 12px;
}
@media screen and (min-width: 800px) {
    .clients .access {
        flex-direction: row;
        gap: 12px;
    }
    .clients .access .list {
        width: 40%;
    }
}
@media screen and (max-width: 800px) {
    .clients .access {
        flex-direction: column;
        gap: 24px;
    }
    .clients .access .list {
        width: 100%;
    }
}
.clients .access .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.clients .access .cliente-btn {
    background: white;
    border: none;
    padding: 8px 10px;
    color: var(--main-500);
    position: relative;
    font-size: var(--ts3);
    display: flex;
}
.clients .access .cliente-btn span {
    padding-left: calc(var(--ts3) * 1.8);
}
.clients .access .cliente-btn i {
    position: absolute;
    width: var(--ts1);
}