main {
    display: flex;
    flex-direction: column;
    padding-bottom: 100vh;
}
section {
    width: 100%;
    margin-block-start: var(--ts1);
}
section h1 {
    background-color: var(--main-500);
    font-family: var(--typo);
    font-size: var(--ts2);
    color: white;
    padding: calc(var(--ts2) / 2) calc(var(--ts2) / 1);
    width: 100%;
    position: relative;
}
@media screen and (min-width: 800px) {
    section h1 {
        max-width: 730px;
    }
}
@media screen and (max-width: 800px) {
    section h1 {
        max-width: calc(100vw - 97px) !important;
    }
}
section h1::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    background-color: var(--main-500);
    transform: translateX(100%);
    clip-path: polygon(100% 0%, 62% 49%, 100% 100%, 0% 100%, 0% 50%, 0% -1%);
}

/* CUSTOM */
.about .details {
    display: flex;
    gap: var(--ts2);
    margin-block-start: 34px;
}
.about .h3 {
    font-size: var(--ts3);
    margin-block-end: 16px;
    font-weight: bold;
}
.about .detail {
    font-family: var(--typo);
    max-width: 400px;
}
.about .text {
    font-size: var(--ts5);
    text-align: justify;
}
.about .picture {
    height: calc(var(--ts1) * 10);
    width: 100%;
    background-size: cover;
    margin-block-end: 16px;
}
.about .btn-c {
    display: flex;
    padding-top: var(--ts2);
    justify-content: flex-end;
}
.best .section {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-block-start: 24px;
}
.best .section .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    background: var(--main-100);
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: var(--borderWidth);
    box-shadow: 0px 3px 6px 0px rgb(0, 0, 0, 0.26);
    max-width: 180px;
}
.best .card i {
    margin-block-start: 12px;
    font-size: calc(var(--ts3) * 3);
    color: var(--main-500);
    margin-block-end: 12px;
}
.best .card p {
    font-family: var(--typo);
    font-size: var(--ts5);
}


.brands_g {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.brand {
    width: 120px;
    height: 120px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 17%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.brands .brand img {
    height: calc(100% - 30%);
    width: calc(100% - 30%);
    object-fit: contain;
    position: absolute;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
}