:root {
    --main-100: #d1e4e3;
    --main-200: #a3c8c7;
    --main-300: #74adac;
    --main-400: #469190;
    --main-500: #187674;
    --main-600: #135e5d;
    --main-700: #0e4746;
    --main-800: #0a2f2e;
    --main-900: #051817;
    --main-trs: #18767471;
    --borderWidth: 2px;
    --typo: 'Poppins', sans-serif;
    --transition-g: 0.3s;
    --transition-f: 0.15s;
    --transition-s: 0.6s;
    --max-w: 900px;
    --max-header: 110px;
    --min-header: 76px;
}
@media screen and (min-width: 600px) {
    :root {
        --ts1: 50px;
        --ts2: 24px;
        --ts3: 18px;
        --ts4: 16px;
        --ts5: 14px;
        --ts6: 12px;
    }
}
@media screen and (max-width: 600px) {
    :root {
        --ts1: 28px;
        --ts2: 24px;
        --ts3: 18px;
        --ts4: 16px;
        --ts5: 14px;
        --ts6: 12px;
    }
}
@media screen and (min-width: 800px) {
    .screen {
        min-height: 80vh;
        height: 80vh;
        max-height: 80vh;
    }
}
@media screen and (max-width: 800px) {
    .screen {
        min-height: 50vh;
        height: 120.25vw;
        max-height: 50vh;
    }
}